:root {
  --percentage: 10%;
  --result-percentage: 10%;
  --result-color: ;
}

body {
  font-family: "Alexandria", sans-serif;
  padding-top: 48px;
  padding-bottom: 48px;
}

body.quiz {
  background: #3423a6;
  color: #ffffff;
}

.container.welcome {
  display: flex;
  gap: 30px;
}

.centered-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.welcome .title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.welcome .description {
  color: rgba(124, 124, 124, 1);
  margin: 0;
}

.welcome .action {
  display: inline-block;
  padding: 12px 30px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(5, 158, 151, 1);
  border-radius: 8px;
  text-decoration: none;
  margin: 0;
}

img {
  max-width: 100%;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 48px;
}

.quiz-header__title {
  font-size: 24px;
}
.quiz-header__close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
}

.quiz-header__close a {
  display: flex;
  background-color: transparent;
  margin: 0;
  padding: 5px;
}

.quiz-header__close svg {
  width: 27px;
}

.question {
  max-width: 897px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.question__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question__text {
  font-size: 24px;
}

#answers {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.answer {
  display: block;
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1.5px solid rgba(255, 255, 255, 0.1);
}

.question__left {
  width: 50%;
}

.container {
  margin: 0 auto;
  width: 1080px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(closest-side, #3323a5 79%, transparent 80% 100%),
    conic-gradient(#2bd591 var(--percentage), #ffffff39 0);
}

/* Result Page */
.result-header {
  justify-content: center;
}
.result-header__title {
  font-size: 24px;
}
.card {
  max-width: 525px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  padding: 48px 24px;
  background-color: white;
  color: rgba(124, 124, 124, 1);
}

.centered {
  margin: 0 auto;
}

/* Set this from inside quiz.js */
.progress-bar::before {
  content: "";
}

.actions {
  margin-top: 24px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.next {
  width: 100%;
  background-color: rgba(35, 35, 77, 0.37);
  border: none;
  color: rgba(255, 255, 255, 0.6);
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Alexandria", sans-serif;
}

.prev {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  cursor: pointer;
  font-family: "Alexandria", sans-serif;
}

label.checked {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
}

button.ready {
  background-color: rgba(42, 212, 144, 1);
  color: white;
}

.right-answer-indicator {
  display: inline-block;
  font-size: 12px;
  color: #2bd591;
  margin-right: 10px;
}

/* Dialog */
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.dialog {
  max-width: 525px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  padding: 48px 24px;
}

.dialog .title {
  color: rgba(23, 23, 56, 1);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.dialog .description {
  font-size: 24px;
  line-height: 38.4px;
  font-weight: 400;
  text-align: center;
  color: rgba(124, 124, 124, 1);
  margin: 0;
}

.dialog .dialog-actions {
  display: flex;
  gap: 30px;
}

.dialog-actions button,
.dialog-actions a {
  font-family: "Alexandria", sans-serif;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.dialog-actions #cancel {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 70%;
  background-color: rgba(5, 158, 151, 1);
  color: white;
}

.dialog-actions #close {
  width: 30%;
  background-color: rgba(35, 35, 77, 1);
  color: white;
}

/** Results Page */
.result-title {
  text-align: center;
  font-size: 24px;
  color: rgba(35, 35, 77, 1);
  font-weight: 500;
  margin: 0;
}
.result-header__counter {
  display: flex;
  justify-content: center;
}
.result-header__counter .progress-bar {
  width: 92px;
  height: 92px;
  background: radial-gradient(closest-side, #edfbf4 93%, transparent 80% 100%),
    conic-gradient(#2ad490 var(--result-percentage), #ffffff39 0);
  /* rgba(43, 213, 145, 0.1) */
}
.result-header__counter .progress-bar span {
  background: -webkit-linear-gradient(
    rgba(43, 213, 145, 1),
    rgba(0, 132, 126, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 600;
}
.result-header__counter .progress-bar span::after {
  content: "%";
  font-size: 12px;
  margin-left: 4px;
}
.final-words {
  text-align: center;
  line-height: 25.6px;
  margin: 0;
}

.card__actions {
  display: flex;
  gap: 30px;
}

.card__actions button,
.card__actions a {
  font-family: "Alexandria", sans-serif;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.card__actions .primary {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 70%;
  background-color: rgba(5, 158, 151, 1);
  color: white;
}

.card__actions .secondary {
  width: 30%;
  background-color: rgba(35, 35, 77, 1);
  color: white;
}
