body {
  font-family: "Alexandria", sans-serif;
  background: #3423a6;
  color: #ffffff;
  padding-top: 48px;
}

img {
  max-width: 100%;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 48px;
}

.quiz-header__title {
  font-size: 24px;
}
.quiz-header__close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
}

.quiz-header__close svg {
  width: 27px;
}

.question {
  max-width: 897px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.question__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question__text {
  font-size: 24px;
}

#answers {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.answer {
  display: block;
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}

.question__left {
  width: 50%;
}

.container {
  margin: 0 auto;
  width: 1080px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(closest-side, #3323a5 79%, transparent 80% 100%),
    conic-gradient(#2bd591 75%, #ffffff39 0);
}

.progress-bar::before {
  content: "1";
}

.actions {
  margin-top: 24px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.next {
  width: 100%;
  background-color: rgba(35, 35, 77, 0.37);
  border: none;
  color: rgba(255, 255, 255, 0.6);
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Alexandria", sans-serif;
}

.prev {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  cursor: pointer;
  font-family: "Alexandria", sans-serif;
}

label.checked {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
}

button.ready {
  background-color: rgba(42, 212, 144, 1);
  color: white;
}
